body{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.container{
  width:300px ;
  height: auto;
  border: 2px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion-title{
  background: green;
  color: white;
  display: block;
  padding: 2px;
}

.accordion-content{
  padding: 2px;
  color: white;
  display: none;
}

.accordion-item.active .accordion-content{
  display: block;
}

